
.infographic-card.compact {
  background-color: #323232;
  border-color: #404040;
  color: #fff;
}

.total-value {
  color: #64e3a3 !important;
}

.grid-item {
  background-color: #404040 !important;
  color: #fff !important;
}

.grid-label {
  color: #ccc !important;
}

.grid-value {
  color: #fff !important;
}

.geography-card {
  background-color: #323232;
  border-color: #404040;
  color: #fff;
}

.map-view-container {
  background-color: #404040;
}

.nearby-list-container {
  background-color: #323232;
  border-color: #404040;
}

.nearby-list-container h4 {
  background-color: #323232;
  border-color: #404040;
  color: #fff;
}

.nearby-item {
  border-color: #404040;
}

.nearby-address {
  color: #ccc;
}

.nearby-value {
  color: #fff;
}
