name: Setup Python
description: Setup Python with pip caching

inputs:
  working-directory:
    description: Working directory
    required: true

runs:
  using: composite
  steps:
    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
        cache: 'pip'
        cache-dependency-path: ${{ inputs.working-directory }}/requirements.txt