name = "warp"
main = "src/main.ts"
compatibility_date = "2024-11-04"

[vars]
ENVIRONMENT = "production"

AUTH_API_URL = "https://auth.vpbank.workers.dev"
OCR_SRV_URL = "https://fbjwmzfdhxwnliaao4fvip4qxi0cahya.lambda-url.ap-southeast-2.on.aws"

[dev.vars]
ENVIRONMENT = "development"
AUTH_API_URL = "http://localhost:8787"
OCR_SRV_URL = "http://localhost:8789"

[dev]
ip = "0.0.0.0"
port = 8788
local_protocol = "http"

[observability]
enabled = true
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = true
persist = true
head_sampling_rate = 1